<div class="container">
	<h2 style="text-align: center;">みんなの質問</h2>
	<div><%= link_to "質問を投稿する",new_question_path, class: "new_question_button" %></div>
		<div class="question_list">
		<hr>
		<% @questions.each do |q| %>
			<div class="question_box">
				<div class="row">
					<div class="col-sm-2 col-md-2">
						<% if q.student  != nil %>
							<div class="align_center"><%= q.student.first_name %></div>
						<% end %>
						<% if q.corporation  != nil %>
							<div class="align_center"><%= q.corporation.name %></div>
						<% end %>
					</div>
					<div class="col-sm-8 col-md-8">
						<%= link_to question_path(q.id) do %>
							<div style="font-weight: 700; font-size: 1.2em; padding-bottom: 10px;"><%= q.title %></div>
							<%= q.q_body %>
						<% end %>
					</div>
					<div class="col-sm-2 col-md-2">
						<div style="margin-bottom: 10px;"><%= q.created_at.strftime("%Y年%-m月%-d日") %></div>
						<div class="answer"><%= link_to "回答する", new_question_comment_path(question_id: q.id),class: "answer_button" %></div>
					</div>
				</div>
			</div>
		<% end %>
		</div>
</div>

