<% if admin_signed_in? %>
	<div class="container">
	<%= form_for @quest do |f| %>
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div><%= f.label :会社名 %></div>
				<%= f.text_field :company_name, placeholder: "", :size => "80%" %>

				<div><%= f.label :会社のロゴ画像 %></div>
				<%= f.file_field :company_logo, accept: "image/png, image/jpeg, image/gif" %>

				<div><%= f.label :クエストタイトル %></div>
				<%= f.text_field :title, placeholder: "", :size => "80%" %>

				<div><%= f.label :詳細 %> </div>
				<%= f.text_area :description, placeholder: "", :size => "80%"  %>

				<div><%= f.label :報酬 %></div>
				<%= f.text_field :gift, placeholder: "" %>

				<div><%= f.label :報酬詳細 %></div>
				<%= f.text_field :gift_detail, placeholder: "" %><br>
				●応募開催期間
		  		<%= f.date_select(
		        :closing, 
		        use_month_numbers: true,
		        start_year: Time.now.year,
		        end_year: (Time.now.year + 5),
		        default: Time.now,
		        date_separator: '/') %>まで

				<div><%=  f.label :締め切り %></div>
				<%= f.text_field :dead_line, placeholder: "", :size => "30*60" %>

				<div><%=  f.label :締め切り詳細詳細 %></div>
				<%= f.text_field :dead_line_detail , placeholder: "", :size => "30*60" %>

				<div><%= f.label :クエストの詳細画像 %></div>
				<%= f.file_field :quest_image, accept: "image/png, image/jpeg, image/gif" %><br>


				●応募期間は終わりましたか？<br>
				<label>
					<%= f.radio_button :finish, true %> はい </label>
				<label>
					<%= f.radio_button :finish, false %> いいえ</label>

				<%=f.submit '次 へ', class: 'btn btn-primary btn-lg btn-block' %>
				</div>
			</div>
		<%end%>
	</div>
<% else %>
	<%= link_to "ホームに戻る", root_path %>
	<div class="page_not_found"> 404 page not found</div>
<% end %>