<div class="container-fluid">
<div class = "row">
	<div class="col-lg-8">
		<div class="some_padding"></div>
		<div class="student__my_page">Nattoで仕事を探す</div>
		<div class="student_show_tab_main">
			<%= link_to "募集中の依頼", quests_other_new_quest_path, class: "student_show_tab" %>		
		</div>
		<div class="student_show_tab_main">
			<%= link_to "過去の依頼", quests_other_old_quest_path, class: "student_show_tab" %>		
		</div>
		<div class="student_show_tab_main">
			<%= link_to "仕事を発注する際の注意", quests_other_quest_notice_path, class: "student_show_tab" %>		
		</div>

		<div class="row padding-top">
			<% if @quests. %>
			<% @quests.each do |q| %>
				<div class="col-lg-4 col-xs-12">
					<div class="card card-margin">
						<div class="card_deal_line">
							<%= "#{q.closing.year}/#{q.closing.month}/#{q.closing.day}" %>
						</div>
						<% if q.quest_image.attached? %>
							<%= image_tag q.quest_image ,class: "quest_card_img" %>
						<% end %>
					  <div class="card-body">
					 	<b style="text-decoration: underline; color: #66CC66;">申し込み受付中</b>
					    <h5 class="card-title"><%= q.title %></h5>
					    <p class="card-text"><%= q.description.truncate(50) %></p>
					  </div>
						<div class="more_button">
							<%= link_to "More", quest_path(q.id),class: "more" %>							
						</div>  
					</div>
				</div>	
			<% end %>
		</div>

	</div>

	<div class="col-lg-4">
		<%= render 'home/top_menus' %>
	</div>
</div>
</div>