<% if admin_signed_in?  %>
<%= form_for @mini_event do |f| %>
	<div class="container">
	<div class="col-md-3"></div>
		<div class="col-md-8">
			<h3 style="text-align: center;"> イベント発行</h3>

			<div>●タイトル</div>
			<%= f.text_field :title, placeholder: "せかいしけいえい", :size => "80%" %>

			<div>●主催者</div>
			<h style="color:red;">※学生を追加する場合は<%= link_to "学生一覧",student_page_index_path %>から追加したい学生のページに行き、ステータスを変更してください</h><br>
				<%= f.collection_radio_buttons(:student_id, Student.includes(:student_status).where(student_statuses: {gold: true}), :id, :first_name) do |b| %>

				  <%= b.label {b.radio_button + b.object.first_name + b.object.last_name} %>
				<% end %>

			<div>●画像</div>
			<%= f.file_field :mini_event_img %><br>

			<p>●イベント詳細。</p>
			<%= f.text_area :detail,
			 placeholder: "浜西電気は制御盤の設計、製作から配線工事、調節まで一貫して作業を行なっています。女性のしなやかさと繊細な作業により品質、生産スピードの安定を確立。リピート品の製造と受注生産の二本柱で着実に業績を伸ばし、様々な業界の一流企業との直接取引を実現しています
			 " , :size => "100%"  %>

			<br>
			●イベント開催地
			<%= f.text_field :locate, value: "名古屋市東区葵3丁目15-31　千種第2ビル4F",  :size => "80%" %>
			<br>
			<!-- ●参加費<br>
			※参加費がない場合は０と入力してください。 -->
			<%#= f.number_field :cost, :size => "30*60" %>
			
			●社会人申し込み用URL<br>
			<%= f.text_field :other_participant_url,  :size => "80%" %><br>
						
			●イベント参加条件
			<%= f.text_field :requirement,  :size => "80%" %>

			<br>
			●開催時間
		  	<%= f.date_select(
		        :time, 
		        use_month_numbers: true,
		        start_year: Time.now.year,
		        end_year: (Time.now.year + 2),
		        default: Time.now,
		        date_separator: '/') %>
			<br>
			●開催時間詳細
			<%= f.text_field :time_detail, placeholder: "17:30 ~ 20:30" , :size => "30*60" %>
			<br>
			●応募人数
			<%= f.number_field :invite_num ,min: 0 ,max:1000 %>
			<br>
			●取得ポイント
			<%#= f.number_field :get_point, value: 5000  %>
			<%= f.text_field :get_point ,placeholder: "半角英数字でお答えください。", value: 0  %>
			<br>
			●消費ポイント
			<%#= f.number_field :pay_point ,min: 0 ,max:1000  %>
			<%= f.text_field :pay_point ,placeholder: "半角英数字でお答えください。", value: 0 %>
			<br>

			<br>
			<p>主催者が学生でない場合は以下のフォームに主催者の名前を入力してください</p>
			<%= f.text_field :organizer, placeholder: "学生以外の主催者" %><br>

			<p>こんな人におすすめ</p>
			<%= f.text_field :requirement %><br>
			
			<p>コンテンツ1</p>
			<%= f.text_field :content_one %><br>
			<p>コンテンツ2</p>
			<%= f.text_field :content_two %><br>
			<p>コンテンツ3</p>
			<%= f.text_field :content_three %><br>
			<p>コンテンツ4</p>
			<%= f.text_field :content_four %><br>
			<p>コンテンツ5</p>
			<%= f.text_field :content_five %><br>
			
			●自由記入欄
			<%= f.text_area :free_box, placeholder: "自由記入欄" , :size => "30*60" %>
			<hr>
			<div>
				<h4>●イベント検索用タグ(複数選択可)</h4>
			    <%= f.collection_check_boxes(:style_ids, Style.all, :id, :name, include_hidden: false) do |b| %>
			      <%= b.label { b.check_box + b.text } %>
			    <% end %>
			</div>
			●トップに表示しますか？<br>
			<label>
			<%= f.radio_button :open, false %> 表示しない </label>
			<label><%= f.radio_button :open, true %> 表示する</label>
		<%=f.submit 'イベントを新規発行する', class: 'btn btn-primary btn-lg btn-block', data: { confirm: '
			新しくイベントを発行します。
			新しく発行したイベントはtopページから見ることができます。
			また管理者はイベントを詳細ページから編集、削除することができます。' } %>
		</div>
	</div>
	</div>
	<%end%>
</div>
<% else %>
	<%= link_to "ホームに戻る", root_path %>
	<div class="page_not_found"> 404 page not found</div>
<% end %>