<div class="container-fluid">
	<% if admin_signed_in? %>
	<%= link_to "編集する", edit_mini_event_path(@mini_event.id), class: "btn btn-success btn-lg btn-block" %>
	<%= link_to "削除する", mini_event_path(@mini_event.id), method: :delete, class: "btn btn-danger btn-lg btn-block", data: { confirm: '削除しますか？' } %>
	<% end %>

	<div class="row event_show_parent event_show_padding">
		<div class="event_show_title"></div>
		<div class="col-sm-12 col-md-12 title_center-bold">
			<p class="event_show_event_title">
				<%= @mini_event.title %>
			</p>
		</div><!-- ./col-sm-12 col-md-12 -->
	</div><!-- ./event_show_title -->
	<div>
	</div>
	<div class="row event_show_parent event_show_padding">
		<div lass="col-lg-7">
		    <% if @mini_event.mini_event_img.attached? %>
		        <%#= image_tag @mini_event.mini_event_img.variant(resize:'400x600').processed ,class: "card-img-top" ,class: "card-img-top"%>
		    <% end %>
		</div>
		<div class="row col-lg-5">
			<div class="col-sm-12 col-md-12 title_center-bold">
				<p id="event-description">
					<%= @mini_event.detail %>
				</p>
			</div><!-- ./col-sm-8 col-md-8 -->
		</div>
		<!-- <div class="event_show_company_detail"></div> -->		
	</div><!-- ./row event_show_parent event_show_padding -->

	<div class="row">
		<div class="col-lg-2"></div>
		<div class="event_details_box col-lg-8">
			<div class="row event_detail_padding">
				<div class="col-sm-6 col-md-6 event_detail_fonts">
					<p class="font_details ">【開催日】</p>
					<p class="font_details">&ensp;&ensp;
						<%= @mini_event.time.year %>年
						<%= @mini_event.time.month %>月
						<%= @mini_event.time.day %>日
					</p>
					<p class="font_details">
						&ensp;&ensp;
						<%= @mini_event.time_detail %></p>
					<h class="font_details">※当日の進行により多少前後する場合がございます</h>
					<p class="font_details"><%= @mini_event.locate %></p>
				</div><!-- ./col-sm-6 col-md-6 event_detail_fonts -->
				<div class="col-sm-6 col-md-6 event_detail_fonts">
					<div>
						<h class="font_details">【参加費】</h>
						<% if @mini_event.cost == 0 %>
							<p  class="font_details" style="color: red;">&ensp;&ensp;無料</p>
						<% else %>
							<p class="font_details">&ensp;&ensp;
								￥：<%= @mini_event.cost %>
							</p>
						<% end %>
					</div>
					<div>
						<h class="font_details">【募集人数】</h>
						<% if @mini_event.invite_num == nil %>
							<p class="font_details">&ensp;&ensp;未定</p>
						<% else %>
							<p class="font_details">&ensp;&ensp;約<%= @mini_event.invite_num %>名</p>
						<% end %>
						<div class="font_details">
							【消費ポイント】: <%= @mini_event.pay_point %>pt
						</div>
						<div class="font_details">
							【ポイント】: <%= @mini_event.get_point %>pt
						</div>
					</div>
				</div><!-- ./col-sm-6 col-md-6 event_detail_fonts -->

				<%= link_to "申し込む", new_mini_event_mini_event_customer_path(mini_event_id: @mini_event.id) ,class: "btn btn-primary btn-lg btn-block"  %>

			</div><!-- ./row event_detail_padding -->
		</div><!-- ./event_details_box -->
		<div class="col-lg-2"></div>
	</div>

</div><!-- ./container fluid -->






