<% if admin_signed_in? %>
	<div class="container">
		<div class="row">
		<% @sub_tags.each do |st| %>
			<div class="col-lg-4 col-md-6">
				<%= st.sub_tag_name %>
				<%= st.sub_tag_detail %>
				<%= link_to "編集",  edit_sub_tag_path(st.id), class: "btn btn-success btn-lg",  method: :get %>
				<%= link_to "削除", sub_tag_path(st.id), class: "btn btn-danger btn-lg", method: :delete %>
			</div>
		<% end %>
		</div>
	</div>
	<hr>
	<div class="container">
	<%= form_for @sub_tag do |f| %>
			<div class="col-md-2"></div>
			<div class="col-md-8">

				<div>サブタグ名</div>
				<%= f.text_field :sub_tag_name, placeholder: "", :size => "30*60" %>

				<div>サブタグの詳細</div>
				<%= f.text_area :sub_tag_detail , placeholder: "", :size => "200*300" %>

				<%=f.submit '次 へ', class: 'btn btn-primary btn-lg btn-block' %>
				</div>
			</div>
		<%end%>
	</div>
<% else %>
	<%= link_to "ホームに戻る", root_path %>
	<div class="page_not_found"> 404 page not found</div>
<% end %>