<div class="devise_mobile" style="background: linear-gradient(#05FBFF, #1E00FF);">
	<div class="padding-50"></div>
	<div class="container login_box_mobile aligen_center">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<h1>Sign in | ログイン</h1><br>
		    <%= f.email_field :email, autofocus: true, placeholder: "emailを入力してください", id: "input_field" %>
		   	<%= f.password_field :password, placeholder: "6文字以上", id: "input_field" %>
		    <div><br>
		    <%= f.submit "ログイン",class:'login_button_mobile' %><br><br><br>
		    <%= link_to "パスワードを忘れた方はこちら", new_student_password_path, class: "forget_password regi_font_mobile" %><br>
		    	<div class="weight_hr"></div>
		    <%= link_to "新規登録はこちら", new_student_registration_path,class: "regi_font_mobile" %>
	<% end %>
	</div>
</div>