<% if admin_signed_in? %>
  <div class="container">
  <h2>会社を登録する</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :会社名 %><br />
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :確認用パスワード %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "会社を発行する",class:'btn btn-primary btn-lg' %>
    </div>
  <% end %>

  <%= render "corporations/shared/links" %>
</div>
<% else %>
  <%= link_to "ホームに戻る", root_path %>
  <div class="page_not_found"> 404 page not found</div>
<% end %>