<div class="container">
	<div class="question_box">
	<div style="font-weight: 700; font-size: 1.4em; padding-bottom: 10px;"><%= @question.title  %></div>
	<% if @question.student  != nil %>
		<p>投稿者：<%= @question.student.first_name %>さん</p>
	<% end %>
	<% if @question.corporation  != nil %>
		<p>投稿者：<%= @question.corporation.name %>さん</p>
	<% end %>
	<hr>
	<div><%= @question.q_body %></div>

	</div>

	<% if student_signed_in? %>
		<% type = "student" %>
		<% his_id = current_student.id %>
	<% elsif corporation_signed_in? %>
		<% type = "corporation" %>
		<% his_id = current_corporation.id %>
	<% end %>

	<%= form_for @comment, url: question_comments_path(question_id: @question.id, type: type, his_id: his_id), method: :post do |f| %>
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div><%= f.label :回答 %></div>
			<%= f.text_area :c_body, placeholder: "",rows: "8",  cols:"70"%>
			<% f.number_field :question_id, value: params[:question_id] %>
			<% if student_signed_in?  %>
				<% f.number_field :student_id, value: current_student.id %>
			<% elsif corporation_signed_in? %>
				<% f.number_field :corporation_id, value: current_corporation.id %>
			<% end %>
			<%=f.submit '回答を送信する', class: 'btn btn-primary btn-lg btn-block' %>
		</div>
	<%end%>
</div>



