<% if student_signed_in? %>
<% if (current_student.id == params[:id].to_i) | %>
<div class="container">
	<div class="row">
		<div class="col-lg-8">
		<div class="some_padding"></div>
		<div class="student__my_page">マイページ</div>
			<div class="student_show_tab_main"><%= link_to "申し込み中のイベント", student_event_page_path(@student.id), class: "student_show_tab" %></div>
			<div class="student_show_tab_main"><%= link_to "プロフィール編集", edit_student_registration_path(params[:id]), class: "student_show_tab" %></div>
		<div class="student_details_box">
			<div class="row student_detail_padding">
				<div class="col-sm-8 col-md-8 student_detail_fonts">
					
				<!-- 編集画面へ -->
				<% if student_signed_in? && current_student == @student %>
					<%= link_to "プロフィールを編集する",edit_student_registration_path(params[:id]), class: "btn btn-success btn-lg" %>
				<% end %>

				<!-- 学生のステータスを変更 -->
				<% if admin_signed_in?%>
				<%= link_to "ステータスを変更する", edit_student_status_path(@student.id), class: "btn btn-success btn-lg" %>
				<% end %>

				<!-- 学生のステータスを表示 -->
				<% if !@student.student_status.nil? %>
					<% if @student.student_status.normal %>
					<div class="student_normal">一般会員</div>
					<% end %>
					<% if @student.student_status.ambassador %>
					<div class="student_ambassador">アンバサダー</div>
					<% end %>
					<% if @student.student_status.start_up %>
					<div class="student_start_up">起業家</div>
					<% end %>
				<% end %>

					<p class="student_labels_title">名前</p>
					<p class="student_detail_fonts">
						<%= @student.first_name %>
						<%= @student.last_name %>
					</p>
					現在のポイント<br>
					<% if @student.point == nil %>
						<h>０</h>
					<% else %>
						<%= @student.point.having_point %>
					<% end %>
					<br>
					累計獲得ポイント<br>
					<% if @student.point == nil %>
						<h>０</h>
					<% else %>
						<%= @student.point.max_point %>
					<% end %>
					<br>
					<p class="student_labels_title">大学名</p>
					<p class="student_detail_fonts"><%= @student.school.school_name %></p>       
		            <p class="student_labels_title" >学部名（研究科名）</p>
		            <p class="student_detail_fonts"><%= @student.major_subject %></p>
		            <p class="student_labels_title">学年</p>
					<p class="student_detail_fonts"><%= @student.entrance_year %></p>
		            <p class="student_labels_title">出身地</p>
					<p class="student_detail_fonts"><%= @student.home_town %></p>
		            <p class="student_labels_title">部活・サークル</p>
					<p class="student_detail_fonts"><%= @student.club %></p>                
		            <p class="student_labels_title">アルバイト経験</p>
					<p class="student_detail_fonts"><%= @student.experienced_jobs %></p>
		            <p class="student_labels_title">趣味・特技</p>
					<p class="student_detail_fonts"><%= @student.hobbies %></p>
		            <p class="student_labels_title">自己紹介メッセージ</p>
					<p class="student_detail_fonts"><%= @student.introduction %></p>
		            <p class="student_labels_title">自由記入欄</p>
					<p class="student_detail_fonts"><%= @student.free_space %></p>
				</div><!-- ./col-sm-9 col-md-9 event_detail_fonts -->
				<div class="col-sm-3 col-md-3 student_detail_fonts">
					<% if @student.my_image.attached? %>
						<%= image_tag  @student.my_image.variant(resize:'300x300').processed, class: "my_image-round"%>
					<% end %>	
				</div>			
			</div><!-- ./row event_detail_padding -->
		</div><!-- ./event_details_box -->
		</div><!-- ./col-lg-9 -->
		<div class="col-lg-4">
			<%= render 'home/top_menus' %>
		</div>
	</div><!-- ./row -->
</div><!-- ./container fluid -->
<% else %>
	<h1>404 Page Not Found</h1>
<% end %>
<% end %>