<div class="container">
	<div class="row">
		<div class="col-lg-8">
		<div class="some_padding"></div>
		<div class="student__my_page">マイページ</div>
			<div class="student_show_tab_main"><%= link_to "申し込み中のイベント", student_event_page_path, class: "student_show_tab" %></div>
			<% if student_signed_in? && current_student == @student %>
				<div class="student_show_tab_main"><%= link_to "プロフィール編集", edit_student_registration_path(params[:id]), class: "student_show_tab" %></div>
			<% end %>
		<div class="some_padding"></div>
		<div class="student_group_title">申し込み中のイベント</div>
		<div class="some_padding"></div>
		<% @event_array.each do |e| %>
		<% if !e.event.nil? %>
			<div class="row">
				<div class="col-lg-4">
					<%= e.event.event_time.year %>/<%= e.event.event_time.month %>/<%= e.event.event_time.day %>
				</div>
				<div class="col-lg-6">
					<%= link_to "#{e.event.event_select}", event_path(e.event.id) %><br>
					<%= e.event.event_location %>
				</div>
				<div class="col-lg-2">
					<%= link_to "キャンセル", event_customer_path(id: e.id, event_id: e.event_id), :method => :delete, class: "btn btn-outline-danger",data: {confirm: "本当にキャンセルしますか？"} %><br>
				</div>
			</div>
		<% end %>
			<hr>
		<% end %>
		<% @mini_event_array.each do |me| %>
			<div class="row">
				<div class="col-lg-4">
					<%= me.mini_event.time.year %>/<%= me.mini_event.time.month %>/<%= me.mini_event.time.day %>
				</div>
				<div class="col-lg-6">
					<%= link_to "#{me.mini_event.mini_event_name}",mini_event_path(me.mini_event.id) %><br>
					<%= me.mini_event.locate%>
				</div>
				<div class="col-lg-2">
					<%#= link_to "キャンセル", mini_event_customer_path(id: me.id,mini_event_id: me.mini_event_id),method: :delete, class: "btn btn-outline-danger", data: {confirm: "本当にキャンセルしますか？"} %>

					<%= button_to("キャンセル", mini_event_customer_path(id: me.id,mini_event_id: me.mini_event_id) ,method: :delete,class: "btn btn-outline-danger", data: {confirm: "本当にキャンセルしますか？"}  ) %>

					<br>
				</div>
			</div>
			<hr>
		<% end %>
		</div>
		<div class="col-lg-4">
			<%= render 'home/top_menus' %>
		</div>
	</div>
</div>