<div class="mobile_menu_title">
	MENU
</div>
<%= link_to(home_interact_event_path, class: "event_menus") do %>
		<div class="row divided_border">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<%= image_tag'6.png',class: "mobile_menu_img" %>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-9">
						<div class="margin_auto">
							<div class="mobile_menu_font">
								Nattoで交流する
							</div>
							<div class="mobile_menu_font_sub">
								学生イベント
							</div>
						</div>
					</div>
					<div class="col-md-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<%= link_to(home_studey_event_path, class: "event_menus") do %>
		<div class="row divided_border">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<%= image_tag'5.png',class: "mobile_menu_img" %>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-9">
						<div class="margin_auto">
							<div class="mobile_menu_font">
								Nattoで学ぶ
							</div>
							<div class="mobile_menu_font_sub">
								シャショク・ガクショク
							</div>
						</div>
					</div>
					<div class="col-md-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<%= link_to(quests_other_new_quest_path, class: "event_menus") do %>

		<div class="row divided_border">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<%= image_tag'4.png',class: "mobile_menu_img" %>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-9">
						<div class="margin_auto">
							<div class="mobile_menu_font">
								Nattoで仕事を探す
							</div>
							<div class="mobile_menu_font_sub">
								クエスト
							</div>
						</div>
					</div>
					<div class="col-md-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>


	<%= link_to(home_comming_soon_path, class: "event_menus") do %>
		<div class="row divided_border">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<%= image_tag'g.png',class: "mobile_menu_img" %>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-9">
						<div class="margin_auto">
							<div class="mobile_menu_font">
								イベントを作る
							</div>
							<div class="mobile_menu_font_sub">
								企画・実行
							</div>
						</div>
					</div>
					<div class="col-md-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>


	<%= link_to(home_comming_soon_path, class: "event_menus") do %>

		<div class="row divided_border">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<%= image_tag'h.png',class: "mobile_menu_img" %>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-9">
						<div class="margin_auto">
							<div class="mobile_menu_font">
								シェアハウス
							</div>
							<div class="mobile_menu_font_sub">
								ツナグハウス
							</div>
						</div>
					</div>
					<div class="col-md-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<%= link_to(student_page_index_path, class: "event_menus") do %>
		<div class="row divided_border">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<%= image_tag'd.png',class: "mobile_menu_img" %>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-9">
						<div class="margin_auto">
							<div class="mobile_menu_font">
								登録学生	
							</div>
							<div class="mobile_menu_font_sub">
								Student
							</div>
						</div>
					</div>
					<div class="col-md-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<%= link_to(home_comming_soon_path, class: "event_menus") do %>

		<div class="row divided_border">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<%= image_tag'c.png',class: "mobile_menu_img" %>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-9">
						<div class="margin_auto">
							<div class="mobile_menu_font">
								協賛企業等	
							</div>
							<div class="mobile_menu_font_sub">
								Company
							</div>
						</div>
					</div>
					<div class="col-md-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>

	<% end %>

	<%= link_to(organizations_student_group_path, class: "event_menus") do %>

		<div class="row divided_border">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<%= image_tag'a.png',class: "mobile_menu_img" %>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-9">
						<div class="margin_auto">
							<div class="mobile_menu_font">
								学生団体	
							</div>
							<div class="mobile_menu_font_sub">
								Student Group
							</div>
						</div>
					</div>
					<div class="col-md-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<%= link_to(organizations_non_profit_path, class: "event_menus") do %>

		<div class="row divided_border">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<%= image_tag'b.png',class: "mobile_menu_img" %>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-9">
						<div class="margin_auto">
							<div class="mobile_menu_font">
								公益活動団体
							</div>
							<div class="mobile_menu_font_sub">
								Public utility corpolation
							</div>
						</div>
					</div>
					<div class="col-md-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>


	<%= link_to(home_others_path, class: "event_menus") do %>
		<div class="row">
			<div class="col-lg-7"></div>
			<div class="col-lg-5">
				<div class="row divided_border border_buttom">
					<div class="col-lg-9 margin_auto">
						<div class="mobile_menu_font">その他機能</div>
					</div>
					<div class="col-lg-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>