<div class="row padding-top">
	<div class="col-lg-3 col-md-3">
		<a href="https://www.facebook.com/tunagukoto/">
			<%= image_tag'facebook.png',class: "sns" %>
		</a>
	</div>
	<div class="col-lg-3 col-md-3">
		<a href="https://line.me/ti/g2/QC3viCfONv8wIO64_WruzA">
			<%= image_tag'line.png',class: "sns" %>
		</a>
	</div>	
	<div class="col-lg-3 col-md-3">
		<a href="https://twitter.com/tunagukoto_">
			<%= image_tag'twitter.png',class: "twiiter" %>
		</a>
	</div>
	<div class="col-lg-3 col-md-3">
		<a href="https://www.instagram.com/tunagukoto">
			<%= image_tag'instagram.png',class: "twiiter" %>
		</a>
	</div>					
</div>
協賛企業等へのメール、電話などによる営業行為は固く禁じます。
<div class="news">
	<p id="news">News</p>
		<% @news.each do |n| %>
			【New!!】<%= link_to "#{n.title}", news_path(n.id) %><br>
		<% end %>
		<div class="right"><%= link_to "News一覧へ", news_index_path, class: "news_index" %></div>
</div>

<div class="devise_pc">
	<%= link_to(home_interact_event_path, class: "event_menus") do %>
		<div class="row divided_border">
			<div class="col-lg-3 col-md-6">
				<%= image_tag'6.png',class: "menu_img" %>
			</div>
			<div class="col-lg-9 col-md-6">
				<div class="row">
					<div class="col-lg-9 col-md-9">
						<div class="margin_auto">
							<h style="font-weight: 500; font-size: 1.1em;">Nattoで交流する
							</h><br>
							<h style="font-size: 0.8em;">学生イベント</h>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<%= link_to(home_studey_event_path, class: "event_menus") do %>
		<div class="row divided_border">
			<div class="col-lg-3">
				<%= image_tag'5.png',class: "menu_img" %>
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-9">
						<h style="font-weight: 500; font-size: 1.1em;">Nattoで学ぶ</h><br>
						<h style="font-size: 0.8em;">シャショク・ガクショク</h>
					</div>
					<div class="col-lg-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>


	<%= link_to(root_path, class: "event_menus") do %>
		<div class="row divided_border">
			<div class="col-lg-3">
				<%= image_tag'4.png',class: "menu_img" %>
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-9">
						<!-- <h style="font-weight: 500; font-size: 1.1em;">Nattoで仕事を探す</h><br> -->
						<h style="font-weight: 500; font-size: 1.1em;">Comming Soon</h><br>
						<h style="font-size: 0.8em;">クエスト</h>
					</div>
					<div class="col-lg-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<%= link_to(student_page_index_path, class: "event_menus") do %>
		<div class="row divided_border">
			<div class="col-lg-3">
				<%= image_tag'd.png',class: "menu_img" %>					
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-9">
						<h style="font-weight: 500; font-size: 1.1em;">登録学生</h><br>
						<h style="font-size: 0.8em;">Student</h>
					</div>
					<div class="col-lg-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<%= link_to(root_path, class: "event_menus") do %>
		<div class="row divided_border">
			<div class="col-lg-3">
				<%= image_tag'c.png',class: "menu_img" %>
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-9">
						<h style="font-weight: 500; font-size: 1.1em;">協賛企業等</h><br>
						<h style="font-size: 0.8em;">Company</h>
					</div>
					<div class="col-lg-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<%= link_to(organizations_student_group_path, class: "event_menus") do %>
		<div class="row divided_border">
			<div class="col-lg-3">
				<%= image_tag'a.png',class: "menu_img" %>	
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-9">
						<h style="font-weight: 500; font-size: 1.1em;">学生団体</h><br>
						<h style="font-size: 0.8em;">Student Group</h>
					</div>
					<div class="col-lg-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<%= link_to(organizations_non_profit_path, class: "event_menus") do %>
		<div class="row divided_border">
			<div class="col-lg-3">
				<%= image_tag'b.png',class: "menu_img" %>
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-9 ">
						<h style="font-weight: 500; font-size: 1.1em;">公益活動団体</h><br>
						<h style="font-size: 0.8em;">Public utility corpolation</h>
					</div>
					<div class="col-lg-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<%= link_to(home_natto_path, class: "event_menus") do %>
		<div class="row  divided_border">
			<div class="col-lg-3"></div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-9 margin_auto">
						<h style="font-weight: 500; font-size: 1.1em;">Nattoとは</h><br>
					</div>
					<div class="col-lg-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<%= link_to(home_others_path, class: "event_menus") do %>
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-9">
				<div class="row divided_border border_buttom">
					<div class="col-lg-9 margin_auto">
						<!-- <h style="font-weight: 500; font-size: 1.1em;">その他機能</h><br> -->
						<h style="font-weight: 500; font-size: 1.1em;">Comming Soon</h><br>
					</div>
					<div class="col-lg-3 link_triangle">▷
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>