<div class="container">
	<% if admin_signed_in? %>
		<% @mini_events.each do |me| %>
			<h1><%= link_to "#{me.title}", mini_event_path(me.id) %></h1>
			<p>参加報酬ポイント: <%= me.get_point %></p>
			<p>参加消費ポイント: <%= me.pay_point %></p>			
			<% @mini_events_apply_tags = MiniEventApplyTag.where(mini_event_id: me.id)%>
			<div class="col-12 ">
			    <table class="table">
			        <thead>
			            <tr>
			                <th>氏名</th>
			                <th>メールアドレス</th>
			                <th></th>
			            </tr>
			        </thead>
			        <% @mini_events_apply_tags.each do |meat| %>
				        <tbody>
				            <tr>
				                <td><%= "#{meat.student.first_name}" "#{meat.student.last_name}" %></td>
				                <td><%= meat.student.email %></td>
				                <td>
				                <!-- 新規機能追加に基づき、has_paidカラムが空のものがある -->
					            <% if meat.has_paid %>
					                <div>参加費を受け取りました</div>
					            <% else %>
								    <div><%= link_to "参加費を受け取る",mini_event_apply_tag_path(id: meat.id, pay_method: "cash"), method: :patch, class: "btn btn-primary", data: { confirm: '参加費を受け取りました' } %></div>
									<div><%= link_to "参加費をポイント清算します",mini_event_apply_tag_path(meat.id,pay_method: "point"), method: :patch, class: "btn btn-primary", data: { confirm: 'ポイントを消費します' } %></div>				        
					            <% end %>
				            </td>
				            <% if !meat.mini_event_customer.nil? %>
				                <% if !meat.mini_event_customer.check %>
					                <td><%= link_to "参加を確認しました", update_point_path(meat.mini_event_customer.id), method: :patch, class: "btn btn-primary"%>
					                </td>
				                <% else %>
					                <td><%= link_to "参加を確認を取り消す", rollback_point_path(meat.mini_event_customer.id), method: :patch, class: "btn btn-danger"%>
					                </td>
				                <% end %>
				            <% end %>
				            </tr>
				        </tbody>
			        <% end %>
			    </table>
			    <div>
			    	参加者メールアドレス一覧<br>
			    	<% @mini_events_apply_tags.each do |meat| %>
			    		<%= meat.student.email %>
			    	<% end %>
			    	<br>
			    	<%#= link_to "メールを一斉送信する", home_mini_event_send_mail_path(me.id), method: :post,  class: "btn btn-danger" %>
			    	<%= link_to "#{me.mini_event_name}参加者一覧CSV", home_admin_mini_event_csv_path(mini_event_id: me.id, format: :csv), class: "btn btn-primary" %>
			    </div>
		    </div>
		<% end %>
	<% else %>
		<h1 style="text-align: center; font-weight: 900;">404 Page Not Found</h1>
		<div class="padding_full"></div>
	<% end %>
</div>

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>