<div class="container">
	<% if admin_signed_in? %>
		<% @hash.each do |event_name, event_customer| %>
			<h3 style="text-align: center;"><%= event_name %></h3>
			<div ><% event_customer.each do |customer| %>
				<table class="table">
				    <tbody>
				        <tr>
				            <td><%= customer.email %></td>
				            <td><%= customer.name %></td>
				            <td><%= School.find(customer.school_id).school_name %></td>
				            <td><%= customer.tel %></td>
				        </tr>
				    </tbody>
				</table>
			<% end %>
			</div>
			<p>参加者メールアドレス一覧</p>
			<% event_customer.each do |ec| %>
				<%= ec.email %>
			<% end %>
		<% end %>
	<% else %>
		<h1 style="text-align: center; font-weight: 900;">404 Page Not Found</h1>
		<div class="padding_full"></div>
	<% end %>
</div>


