<div class="row devise_pc" style="padding:50px 0 ; margin: auto 0;">
	<div class="col-md-3">
		<%= image_tag'gomen2.png', style: "width: 80%;" %>
	</div>
	<div class="col-md-6" style="padding:200px 0;">
		<h1 style="text-align: center;">
		申し訳ございません。<br>
		このページはPC版には対応しておりません。<br>
		お手数をおかけしますが、<br>
		携帯画面にてご覧ください。
		</h1>
	</div>
	<div class="col-md-3">
		<%= image_tag'gomen.png', style: "width: 80%;" %>
	</div>
</div>


<div class="devise_mobile">

	<div style="background-color: white; ">
		<div style="position: relative;">
		<%= image_tag'main.png', style: "width: 100%;" %>


		<div class="natto-btn btn-first"> 
			<a href="https://tunagu-natto.herokuapp.com/students/sign_up" class="black">	Nattoに登録する</a>
		</div>

	</div>
		<div style="text-align: center; margin-bottom: 100px; margin-top: 200px">
			<%= image_tag'konna_nayami.png', style: "width: 50%;" %>
		</div>


		<p class="lp_font_mini" style="text-align: center;">	
		<%= image_tag'check.png', style: "width: 50px;" %>
		<span class="font-border">将来何がしたいかわからない</span>
		</p>
		<div style="text-align: center; margin-bottom: 15px;">
			<%= image_tag'arrow_a.png', style: "width: 17%; margin-right: 150px;" %>
			<%= image_tag'arrow_b.png', style: "width: 17%;" %>
		</div>	

		<div style="padding: 0px 20px 5px 40px; display: flex;">
			<div class="lp_font_mini_mini" style="width: 410px; display: flex; margin-right: 100px; ">
				<div><%= image_tag'check.png', style: "width: 35px; margin-right: 6px;" %></div>
				<div>
				<span class="font-border">
				短期のインターンを<br>
				探しても名古屋での<br>
				開催が少ない
				</span>
				</div>
			</div>

			<div class="lp_font_mini_mini" style="width: 370px; display: flex;">
				<div><%= image_tag'check.png', style: "width: 35px; margin-right: 6px;" %></div>
				<div>
				<span class="font-border">
				インターンに応募<br>
				してもガクチカが<br>
				弱くてESで落ちる
				</span>
				</div>
			</div>
		</div>

		<div style="text-align: center; padding-bottom: 50px; padding-top: 20px;">
			<%= image_tag'arrow_u.png', style: "width: 46%;" %>
		</div>

		<div class="lp_font_mini line-height" style="font-size: 45px; width: 650px; margin: auto; padding-bottom: 20px; display: flex;">
			<div><%= image_tag'check.png' ,style: "width: 40px; margin-right: 7px;"%></div>
			<div>
			<span class="font-border">
			キャリアについて相談できる<br>
			先輩・友人が少ない
			</span>
			</div>
		</div>

		<div class="lp_font_mini line-height" style="font-size: 45px; width: 650px; margin: auto; padding-bottom: 20px; display: flex;">
			<div><%= image_tag'check.png',style: "width: 40px; margin-right: 7px;" %></div>
			<div>
			<span class="font-border">
			名古屋で情報を得たり、発信<br>
			したりできる場がない
			</span>
			</div>
		</div>

		<div class="lp_font_mini line-height" style="font-size: 45px; width: 650px; margin: 0 auto; padding-bottom: 50px; display: flex;">
			<div><%= image_tag'check.png',style: "width: 40px; margin-right: 7px;" %></div>
			<div>
			<span class="font-border">
			大学とバイトの往復の毎日…<br>
			何か新しいことを始めたい
			</span>
			</div>
		</div>


		<div class="shimashima parent" style="padding-bottom: 170px; margin-bottom: 200px;">
			<div class="triangle"></div>
			<div style="text-align: center; margin-bottom: 100px; padding-top: 250px; margin-top: 80px;">
				<%= image_tag'konoonayami.png', style: "width: 87%;" %>
			</div>

			<div class="natto-btn"> 
				<a href="https://tunagu-natto.herokuapp.com/students/sign_up" class="black">	Nattoに登録する</a>
			</div>

			<div style="text-align: center;">
				<%= image_tag'nattowo.png', style: "width: 60%;" %>
			</div>

			<%= image_tag'kouryu.png', style: "width: 100%;" %>
			<%= image_tag'manabi.png', style: "width: 100%;" %>
			<%= image_tag'jittsenn.png', style: "width: 100%;" %>


			<div class="natto-btn btn-second"> 
				<a href="https://tunagu-natto.herokuapp.com/students/sign_up" class="black">	Nattoに登録する</a>
			</div>

		</div>
	</div>

	<div style="text-align: center; margin-bottom: 20px; margin-top: 80px;">
		<%= image_tag'katuyou.png', style: "width: 88%; margin: auto; padding-bottom: 30px;" %>
	</div>
	<div style="text-align: center; ">
		<%= image_tag'nattowokatuyou.png', style: "width: 90%; margin-top: 0;" %>
	</div>

	<br>
	<div style="margin-left: 130px; ">
		<b class="lp_font">	
			<%= image_tag'check.png', style: "width: 40px;" %>
			社会についてもっと知れる<br>
			<%= image_tag'check.png', style: "width: 40px;" %>
			自分の活動を発信できる<br>
			<%= image_tag'check.png', style: "width: 40px;" %>
			スキルを身につけ、磨ける<br>
			<%= image_tag'check.png', style: "width: 40px;" %>
			起業できる<br>
			<%= image_tag'check.png', style: "width: 40px;" %>
			イベントが作れる<br>
			<%= image_tag'check.png', style: "width: 40px;" %>
			高めあう仲間ができる
		</b><br>
	</div>

	<div class="shimashima parent" style="padding-bottom: 200px; padding-top: 100px; margin-top: 150px; ">

		<div class="natto-btn btn-third"> 
			<a href="https://tunagu-natto.herokuapp.com/students/sign_up" class="black">	Nattoに登録する</a>
		</div>


		<div style="text-align: center; margin-top: 50px; margin-bottom: 50px; padding-top: 50px;">
			<%= image_tag'sankasha.png', style: "width: 43%;" %>
		</div>

		<div  style="background-color: white; width: 90%; margin: auto; padding-bottom: 100px;">

			<div class="parent_a">
				<div style="text-align: center; margin-top: 30px;">
					<%= image_tag'people_a.png', style: "width: 95%;" %>
				</div>
				<div class='comment red'>
				  	Aさん<br>
					大学の生活に少し物足りなさを感じ始めた時に、Nattoのイベントに参加しました。
					普段出会うことのないような面白い学生に出会えて嬉しかったです。私も彼らのように幅を広げていろいろ活動をしてみたいと思いました。
				</div>
			</div>


			<div class="parent_b">
				<div style="margin: auto 0;">
				<div style="text-align: center;">
					<%= image_tag'people_b.png', style: "width: 95%;" %>
				</div>
				<p class='comment_a green'>
					Bさん<br>
					自分の将来が不安だけど、何をすべきかわからなかったときにNattoを見つけた。
					何かヒントを見つけられるかもしれないと思い参加してみたら、社会人から直接話を聞けて、社会の流れについて少し理解できた。もっと社会について知りたいと思った。
				</p>
				</div>
			</div>

			<div class="parent_c">
				<div style="text-align: center;">
					<%= image_tag'people_c.png', style: "width: 95%;" %>
				</div>
				<p class='comment_b blue'>
				Cさん<br>
				実際に経営者の方から仕事を受注させてもらい、大学で得た知識や技術、得意なことを活かして働くためには何が必要かを学ぶことができました。アルバイト以外でのお金の稼ぎ方を身につけることができたのは凄く自身になりました。
				</p>
			</div>
		</div>

		<div class="natto-btn" style="padding-top: 50px; margin-top: 170px; margin-bottom: 240px;"> 
			<a href="https://tunagu-natto.herokuapp.com/students/sign_up" class="black">	Nattoに登録する</a>
		</div>
</div>
</div>


