<div class="row devise_pc" style="padding:50px 0 ; margin: auto 0;">
	<div class="col-md-3">
		<%= image_tag'gomen2.png', style: "width: 80%;" %>
	</div>
	<div class="col-md-6" style="padding:200px 0;">
	<h1 style="text-align: center;">
	申し訳ございません。<br>
	このページはPC版には対応しておりません。<br>
	お手数をおかけしますが、<br>
	携帯画面にてご覧ください。
</h1>
</div>
	<div class="col-md-3">
		<%= image_tag'gomen.png', style: "width: 80%;" %>
	</div>

</div>

<div class="devise_mobile">
<%= image_tag'lp_main.png', style: "max-width: 100%;" %>

<div style="text-align: center; margin-bottom: 100px; margin-top: 150px">
<%= image_tag'konna_nayami.png', style: "max-width: 100%;" %>
</div>

<div style="width: 90%; margin: 0 auto;">
<p class="lp_font_mini" style="text-align: center;">	
<%= image_tag'check.png', style: "width: 50px;" %>
将来何がしたいかわからない
</p><br>
<div style="text-align: center; margin-bottom: 30px;">
	<%= image_tag'arrow_a.png', style: "width: 20%; margin-right: 150px;" %>
	<%= image_tag'arrow_b.png', style: "width: 20%;" %>
</div>	


<div class="row" style="margin-bottom: 30px;">
	<div class="col-sx-5 lp_font_mini" style="margin-right: 113px;">
	<%= image_tag'check.png', style: "width: 50px;" %>
	短期のインターンを<br>
	探しても名古屋での<br>
	開催が少ない
	</div>


	<div class="col-sx-5 lp_font_mini">
	<%= image_tag'check.png', style: "width: 50px;" %>
	インターンに応募<br>
	してもガクチカが<br>
	弱くてESで落ちる
	</div>
</div>


<div style="text-align: center;">
	<%= image_tag'arrow_u.png', style: "width: 55%;" %>
</div>
</div>



<div class="shimashima" style="padding-top: 150px; margin-top: 80px;">
	<div style="text-align: center; margin-bottom: 100px;">
	<%= image_tag'konoonayami.png', style: "max-width: 100%;" %>
	</div>

	<div style="text-align: center;">
	<%= image_tag'nattowo.png', style: "max-width: 100%;" %>
	</div>
	<%= image_tag'kouryu.png', style: "width: 100%;" %>

	<%= image_tag'manabi.png', style: "width: 100%;" %>

	<%= image_tag'jittsenn.png', style: "width: 100%;" %>
	
</div>

<div style="text-align: center; margin-bottom: 20px; margin-top: 80px;">
	<%= image_tag'katuyou.png', style: "width: 90%; margin: auto " %>
</div>
<div style="text-align: center; ">
	<%= image_tag'nattowokatuyou.png', style: "width: 90%; margin-top: 0;" %>
</div>

<br>
<div style="margin-left: 120px;">
<b class="lp_font">	
	<%= image_tag'check.png', style: "width: 40px;" %>
社会についてもっと知れる<br>
	<%= image_tag'check.png', style: "width: 40px;" %>
自分の活動を発信できる<br>
<%= image_tag'check.png', style: "width: 40px;" %>
スキルを身につけ、磨ける<br>
<%= image_tag'check.png', style: "width: 40px;" %>
起業できる<br>
<%= image_tag'check.png', style: "width: 40px;" %>
イベントが作れる<br>
<%= image_tag'check.png', style: "width: 40px;" %>
高めあう仲間ができる
</b><br>
</div>


<div class="shimashima" style="padding-bottom: 450px;">
	<div style="text-align: center; margin-top: 50px; margin-bottom: 50px; padding-top: 50px;">
		<%= image_tag'kaiketu.png', style: "max-width: 100%;" %>
	</div>

	<div  style="background-color: white; width: 90%; margin: auto; padding-bottom: 100px;">

	<div class="parent_a">
		<div style="text-align: center;">
			<%= image_tag'people_a.png', style: "width: 90%;" %>
		</div>
		<p class='comment red'>
		  	Aさん<br>
			大学の生活に少し物足りなさを感じ始めた時に、Nattoのイベントに参加しました。
			普段出会うことのないような面白い学生に出会えて嬉しかったです。私も彼らのように幅を広げていろいろ活動をしてみたいと思いました。
		</p>
	</div>



	<div class="parent_b">
		<div style="text-align: center;">
			<%= image_tag'people_b.png', style: "width: 90%;" %>
		</div>
		<p class='comment green'>
			Bさん<br>
			自分の将来が不安だけど、何をすべきかわからなかったときにNattoを見つけた。
			何かヒントを見つけられるかもしれないと思い参加してみたら、社会人あら直接話を聞けて、社会の流れについて少し理解できた。もっと社会について知りたいと思った。
		</p>
	</div>

	<div class="parent_c">
		<div style="text-align: center;">
			<%= image_tag'people_c.png', style: "width: 90%;" %>
		</div>
		<p class='comment blue'>
		Cさん<br>
		実際に経営者の方から仕事を受注させてもらい、大学で得た知識や技術、得意なことを活かして働くためには何が必要かを学ぶことができました。アルバイト以外でのお金の稼ぎ方を身につけることができたのは凄く自身になりました。
		</p>
	</div>

</div>
</div>
</div>

