<div class="devise_pc">
<!-- <div class="container-fluid"> -->
	<div class="top_container">
		<!--carousel -->
		<%= render 'home/top_carousel' %>
 			<!-- おすすめイベント -->
			<div class="container-fluid background_while">
				<div class="ibento">おすすめイベント</div>
				<% counter = 0 %>
				<% @all_event.each do |e| %>
					<% if counter == 0 %>
						<%= link_to event_path(e.id) do  %>
							<div class="card top_event_box_main_card">
								<% if e.event_top_image.attached? %>
									<%= image_tag e.event_top_image ,class: "bd-placeholder-img card-img-top" %>
								<% end %>
								<div class="card-body">
									<% if e.tag.uuid == 1 %>
										<span class="event_type_tag_frame non_linked right e_sha"><%= e.tag.tag_name %></span>
									<% elsif e.tag.uuid == 2 %>
										<span class="event_type_tag_frame non_linked right e_ga"><%= e.tag.tag_name %></span>
									<% elsif e.tag.uuid == 3 %>
										<span class="event_type_tag_frame non_linked right e_kya"><%= e.tag.tag_name %></span>
									<% elsif e.tag.uuid == 4 %>
										<span class="event_type_tag_frame non_linked right e_other"><%= e.tag.tag_name %></span>
									<% end %>
									<p class="card-text"></p>
									<h5 class="card-title black"><%= "#{e.event_time.year}"+ "."+ "#{e.event_time.month}"+"."+ "#{e.event_time.day}" %></h5>
									<p class="card-text black" style="font-size: 1.6em;"><%= "#{e.event_name}" %></p>
								</div><!-- card-body -->
							</div><!-- card top_event_box_main_card -->
						<% end %>
					<% elsif (counter == 1) || (counter == 2) %>
						<%= link_to event_path(e.id) do  %>
							<div class="card top_event_box_sub_card">
								<% if e.event_top_image.attached? %>
									<%= image_tag e.event_top_image ,class: "bd-placeholder-img card-img-top" %>
								<% end %>
								<div class="card-body">
									<% if e.tag.uuid == 1 %>
										<span class="event_type_tag_frame_mini non_linked right e_sha"><%= e.tag.tag_name %></span>
									<% elsif e.tag.uuid == 2 %>
										<span class="event_type_tag_frame_mini non_linked right e_ga"><%= e.tag.tag_name %></span>
									<% elsif e.tag.uuid == 3 %>
										<span class="event_type_tag_frame_mini non_linked right e_kya"><%= e.tag.tag_name %></span>
									<% elsif e.tag.uuid == 4 %>
										<span class="event_type_tag_frame_mini non_linked right e_other"><%= e.tag.tag_name %></span>
									<% end %>
									<p class="card-text"></p>
									<h5 class="card-title black_mini"><%= "#{e.event_time.year}"+ "."+ "#{e.event_time.month}"+"."+ "#{e.event_time.day}" %></h5>
									<p class="card-text black" style="font-size: 1.3em;"><%= "#{e.event_name}" %></p>
								</div><!-- card-body -->
							</div><!-- card top_event_box_sub_card -->
						<% end %>
					<% end %><!-- counter == 0 -->
				<% counter = counter + 1 %>
				<% end %><!-- @all_event.each do |e| -->
			</div><!-- container-fluid background_while -->

			<div class="ibento" style="background-color: #F7F7F7;">イベント</div>
			<div class="row" style="background-color: #F7F7F7;">
				<% if !@last_events.nil? %>
				<% @last_events.each do |e| %>
					<div class="col-lg-3">
						<%= link_to event_path(e.id) do  %>
							<div class="card"  style="width: 93%; display: inline-block; margin-bottom: 20px;">
								<% if e.event_top_image.attached? %>
									<%= image_tag e.event_top_image ,class: "bd-placeholder-img card-img-top card-img-top-hight" %>
								<% end %>
								<div class="card-body">
									<% if e.tag.uuid == 1 %>
										<span class="event_type_tag_frame_mini non_linked right e_sha"><%= e.tag.tag_name %></span>
									<% elsif e.tag.uuid == 2 %>
										<span class="event_type_tag_frame_mini non_linked right e_ga"><%= e.tag.tag_name %></span>
									<% elsif e.tag.uuid == 3 %>
										<span class="event_type_tag_frame_mini non_linked right e_kya"><%= e.tag.tag_name %></span>
									<% elsif e.tag.uuid == 4 %>
										<span class="event_type_tag_frame_mini non_linked right e_other"><%= e.tag.tag_name %></span>
									<% end %>

									<p class="card-text"></p>

									<div class="pa_little">
										<% e.styles.each do |t| %>  
												<%= t.name %>&nbsp;
										<% end %>
										<% e.sub_tags.each do |t| %>
												<%= t.sub_tag_name %>&nbsp;
										<% end %>
									</div>

									<h5 class="card-title card_sub_mini"><%= "#{e.event_time.year}"+ "."+ "#{e.event_time.month}"+"."+ "#{e.event_time.day}" %></h5>
									<p class="card-text"><%= e.event_title %></p>
								</div>
							</div>
						<% end %><!-- link_to mini_event_path -->
					</div><!--col-lg-3 -->
				<% end %><!-- @last_events.each do |e| -->
				<% end %>
			</div><!-- row --><br>
			
			<div class="row" style="margin-bottom: 60px;">
				<div class="card-center">
					<%= link_to home_interact_event_path do %>
						<span class="top_manabi_kouryu light_green">
							Nattoで交流する
						</span>
					<% end %>
					<%= link_to home_studey_event_path do %>
						<span class="top_manabi_kouryu light_green">
							Nattoで学ぶ
						</span>
					<% end %>
				</div><!-- card-center -->
			</div><!-- row -->

			<div class="container-fluid background_while" style="padding-bottom: 20px;">
				<div class="ibento">イベント過去記事</div>
				<div class="row">
					<% Article.all.each do |e| %>
					<div class="col-lg-3">
						<%= link_to "#{e.linked_url}" do  %>
							<div class="card"  style="width: 93%; display: inline-block; margin-bottom: 20px; background-color: #F7F7F7;">
								<% if e.article_img.attached? %>
									<%= image_tag e.article_img ,class: "bd-placeholder-img card-img-top card-img-top-hight" %>
								<% end %>
								<div class="card-body">
									<% if e.event.tag.uuid == 1 %>
										<span class="event_type_tag_frame_mini non_linked left e_sha"><%= e.event.tag.tag_name %></span>
									<% elsif e.event.tag.uuid == 2 %>
										<span class="event_type_tag_frame_mini non_linked left e_ga"><%= e.event.tag.tag_name %></span>
									<% elsif e.event.tag.uuid == 3 %>
										<span class="event_type_tag_frame_mini non_linked left e_kya"><%= e.event.tag.tag_name %></span>
									<% elsif e.event.tag.uuid == 4 %>
										<span class="event_type_tag_frame_mini non_linked left e_other"><%= e.event.tag.tag_name %></span>
									<% end %>
									<p class="card-text"></p>
									<h5 class="card-title card_sub_mini"><%= "#{e.event.event_time.year}"+ "."+ "#{e.event.event_time.month}"+"."+ "#{e.event.event_time.day}" %></h5>
									<div class="pa_little non_linked">
										<%= e.event.event_title %>
									</div>
									<h5 class="card-title card_sub_mini"><%= e.event.event_company_name %></h5>
									<div class="card-center" style="width: 100%;">
										<div class="read_button">読む</div>
									</div>
								</div>
							</div>
						<% end %><!-- link_to mini_event_path -->
					</div><!--col-lg-3 -->
				<% end %><!-- Article.all.each -->
				</div><!--  row -->

				<div class="row" style="margin-bottom: 60px;">
					<div class="card-center">
						<%= link_to "https://tunagukoto.hatenablog.jp/" do %>
							<span class="top_manabi_kouryu light_green">
								過去記事一覧
							</span>
						<% end %>
					</div><!-- card-center -->
				</div><!-- row -->
			</div><!-- container-fluid -->

			<div class="container-fluid" style="padding-bottom: 20px;">
				<div class="ibento">ニュース</div>
					<% News.last(5).each do |n| %>
						<%= link_to news_path(id: n.id) do %>
							<h6 class="non_linked"><%= n.created_at.year %>.<%= n.created_at.month %>.<%= n.created_at.day %></h6>
							<h5 class="non_linked"><%= n.title %></h5>
						<hr>
						<% end %>
					<% end %><!-- News.all.each do -->
					<div class="row" style="margin: 50px 10px;">
					<div class="card-center">
						<%= link_to news_index_path do %>
							<span class="top_manabi_kouryu light_green">
								ニュース一覧へ
							</span>
						<% end %>
					</div><!-- card-center -->
				</div><!-- row -->
			</div><!-- container-fluid -->

			<div class="container-fluid background_while" style="padding-bottom: 20px; text-align: center;">
				<div class="ibento">掲示板</div>
				<%= link_to root_path do %>
					<%#= image_tag'hontoniii.png',class: "keijiban" %>
				<% end %>
				<%= link_to root_path do %>
					<%#= image_tag'keijiban3.png',class: "keijiban" %>
				<% end %>
				<%= link_to root_path do %>
					<%#= image_tag'keijiban2.png',class: "keijiban" %>
				<% end %>
				<%= link_to root_path do %>
					<%#= image_tag'keijiban4.png',class: "keijiban" %>
				<% end %>
			</div><!-- container-fluid -->

			<div class="container-fluid" style="padding-bottom: 20px;">
				<div class="ibento">ツナグコトを知る</div>
				<div class="card-center">
					<%= link_to "https://www.youtube.com/watch?v=5ZRsLoQCvps&feature=youtu.be" do %>
						<div class="card display-inline-block" >
							<%#= image_tag 'tunagu-shiru3.png',class: "card-img-top" %>
							<div class="card-body">
								<h5 class="card-title">ツナグコトの歴史</h5>
								<p class="card-text" >学生が「交流し、学び、実践する場」を提供するために活動しているツナグコトのこれまでの歴史を元ツナグ学生メンバーが作成したPVです。 </p>
							</div>
						</div><!-- card display-inline-block -->
					<% end %>

					<%= link_to "http://tunagu.or.jp/aboutus.htm" do %>
						<div class="card display-inline-block">
							<%#= image_tag 'tunagu-shiru1.png',class: "card-img-top" %>
							<div class="card-body">
								<h5 class="card-title">ツナグコトについて</h5>
								<p class="card-text">ツナグコトは、学生が「交流し、学び、実践する場」を提供するために活動しています。
								 学生と経営者、留学生と日本人、文系と理系、起業を志す人、ボランテ....</p>
							</div>
						</div><!-- card display-inline-block -->
					<% end %>

					<%= link_to home_natto_path do %>
						<div class="card display-inline-block">
							<%#= image_tag 'tunagu-shiru2.png',class: "card-img-top" %>
							<div class="card-body">
								<h5 class="card-title">Nattoてなに？</h5>
								<p class="card-text">
								Nattoは、学生が交流イベントを探したり、自分でイベントを作ったり、
								インターン先やアルバイト、ボランティア活動探しができる会員制のウェブサイトです。
								</p>
							</div>
						</div><!-- card display-inline-block -->
					<% end %>
				</div><!--  ard-center -->

				<div class="card-center" style="text-align: center;">
					<%= link_to "http://tunagu.or.jp/contents.htm" do %>
						<div class="tunagushiru light_green width_some">
								コンテンツ
						</div>
					<% end %>
					<%= link_to home_studey_event_path do %>
						<div class="tunagushiru light_green width_some">
							インターン生の日常
						</div>
					<% end %>
				</div><!-- card-center -->

				<div class="card-center" style="text-align: center;">
					<%= link_to "http://tunagu.or.jp/access.htm" do %>
						<div class="tunagushiru light_green width_some">
							アクセス
						</div>
					<% end %>
					<%= link_to "http://tunagu.or.jp/office-intr.htm" do %>
						<div class="tunagushiru light_green width_some">
							オフィス
						</div>
					<% end %>
				</div><!-- card-center -->

			</div><!-- container-fluid -->
	</div><!-- top_container -->
<!-- </div> container-fluid -->
</div><!-- devise_pc -->

<%= render 'home/top_mobile' %>