	<!-- <h1>ChartSample#index</h1>
<p>Find me in app/views/chart_sample/index.html.erb</p>

<canvas id="myChart" width="300" height="300"></canvas> 
<script>draw_graph();</script>  -->

<div class="devise_pc">
<div class="container-fluid">
	<div class="top_container">
		<div class="row">

			<div class="col-lg-9 padding-top">
				<h5 id="top_titles_font">ツナグコトおすすめイベント</h5>
				<div id="carouselExampleIndicators" class="carousel slide carousel-slide" data-ride="carousel">
				  <!-- インジケータの設定 -->
				    <ol class="carousel-indicators">
				        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="height: 10px;"></li>
				        <% for num in 1..@e_count do %>
				            <li data-target="#carouselExampleIndicators" data-slide-to="#{num}" style="height: 10px;"></li>
				        <% end %>
				    </ol>
				    <!-- スライドさせる画像の設定 -->
				    <div class="carousel-inner">
				        <% count = 1 %>
				        <% @events.each do |e| %>
					            <% if count == 1 %>
					                <div class="carousel-item active">
										<%= link_to event_path(e.id) do %>
					                    	<% if e.event_top_image.attached? %>
					                        	<%= image_tag e.event_top_image , class: "card-img-top"%>
					                    	<% end %>
					                   	<% end %>
					                </div><!-- /.carousel-item -->
					            <% else %>
					                <div class="carousel-item">
					                	<%= link_to event_path(e.id) do%>
						                    <% if e.event_top_image.attached? %>
						                        <%= image_tag e.event_top_image ,class: "card-img-top"%>
						                    <% end %>
					                    <% end %>
					                </div><!-- /.carousel-item -->
					            <% end %>
					        <% count = count + 1 %>
				        <% end %>
				    </div><!-- /.carousel-inner -->

				    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				      <span class="carousel-control-prev-icon" aria-hidden="true" style="width: 40px; height: 40px;"></span>
				      <span class="sr-only">Previous</span>
				    </a>
				    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				      <span class="carousel-control-next-icon" aria-hidden="true" style="width: 40px; height: 40px;"></span>
				      <span class="sr-only">Next</span>
				    </a>
				</div><!-- /.carousel -->

				<div class="padding-top" ></div>
				<%#= link_to "愛知学生ブランド企業はこちらから","https://www.aichi-student-brand.com/", class: "btn btn-info btn-lg btn-block"  %>
				<div class="container-fluid">
					<div class="row top-title-inner">
						<!-- <div style="margin: 0 auto;"> -->
						<a href="https://www.aichi-student-brand.com/">
							<%= image_tag'natto_bana.png',class: "aichi_brand_img" %>
						</a>
					</div>
				</div>

				<div class="container-fluid">

					<div class="top_titles">
						<h5 id="top_titles_font">Nattoおすすめイベント(New)</h5>
						<div class="row top-title-inner">
							<% @events.each do |e| %>
							<%= link_to event_path(e.id) do %>			
							<div style="margin: 2px;">					
							<div class="card-deck">
								<div class="card" style="width: 18rem; min-height:22rem ;">
									<div>
										<% if e.event_top_image.attached? %>
											<%= image_tag e.event_top_image ,class: "card-img" %>
										<% end %>
							    	</div>

								  	<div class="card-body">
								  		<b style="text-decoration: underline; color: #66CC66;">	申し込み受付中</b>
									    <h4 class="card-title">
									    	<%= "【"+"#{e.event_time.month}"+"/"+"#{e.event_time.day}"+"】"%><%= e.event_name %>
									    </h4>
									    <p class="card-text">
									    	<%= e.event_description.truncate(45) %>
									    </p>

									    <h class="btn btn-outline-secondary card_event_btn">
									    	このイベントに参加する
										</h>
								  	</div>
								</div>
							</div>
							</div>
							<% end %>
							<% end %>
							<% @show_mini_events.each do |me| %>
							<%# if me.class == MiniEvent %>
								<%= link_to mini_event_path(me.id) do %>			
								<div style="margin: 2px;">					
								<div class="card-deck">
									<div class="card" style="width: 18rem; min-height:22rem ;">
										<div>
								        <% if me.mini_event_img.attached? %>
								            <%= image_tag me.mini_event_img ,class: "card-img" %>
								        <% end %>
								    	</div>

									  	<div class="card-body">
									  		<b style="text-decoration: underline; color: #66CC66;">		申し込み受付中
									  		</b>
										    <h4 class="card-title">
										    	<%= "【"+"#{me.time.month}"+"/"+"#{me.time.day}"+"】"%><%= me.title %>
										    </h4>
										    <p class="card-text">
										    	<%= me.detail.truncate(15) %>
										    </p>

										    <h class="btn btn-outline-secondary card_event_btn">
										    	このイベントに参加する
											</h>
									  	</div>
									</div>
									</div>
								</div>
								<% end %>
							<%# elsif me.class == Event %>
								<%#= link_to event_path(me.id) do %>			
<!-- 								<div style="margin: 2px;">					
								<div class="card-deck">
									<div class="card" style="width: 18rem; min-height:22rem ;">
										<div>
											<%# if me.event_top_image.attached? %>
												<%#= image_tag me.event_top_image ,class: "card-img" %>
											<%# end %>
								    	</div>

									  	<div class="card-body">
									  		<b style="text-decoration: underline; color: #66CC66;">		申し込み受付中
									  		</b>
										    <h4 class="card-title">
										    	<%#= "【"+"#{me.event_time.month}"+"/"+"#{me.event_time.day}"+"】"%><%#= me.event_name %>
										    </h4>
										    <p class="card-text">
										    	<%#= me.event_description.truncate(50) %>
										    </p>

										    <h class="btn btn-outline-secondary card_event_btn">
										    	このイベントに参加する
											</h>
									  	</div>
									</div>
									</div>
								</div>
								<%# end %> -->
							<%# end %>
							<% end %>
						</div><!-- row top-title-inner -->
					</div>
				</div>

			</div>
			<div class="col-lg-3">
				<h1 id="student_count" style="margin-top: 50px;"> 
    				現在登録者 <%= @s_count %>
    			</h1>
				<%= render 'home/top_menus' %>
			</div>
		</div>
	</div>
</div>
</div>

<%= render 'home/top_mobile' %>