<h1 id="student_count"> 
    現在登録者 <%= @s_count %> 
</h1>

<!-- <div class="aaa">ああああ</div> -->

<div class="container-fluid">
	<div class="top_container">
		<div class="row">
			<div class="col-lg-9">
				<div id="carouselExampleIndicators" class="carousel slide carousel-slide" data-ride="carousel">
				  <!-- インジケータの設定 -->
				    <ol class="carousel-indicators">
				        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="height: 20px;"></li>
				        <% for num in 1..@e_count do %>
				            <li data-target="#carouselExampleIndicators" data-slide-to="#{num}" style="height: 20px;"></li>
				        <% end %>
				    </ol>
				    <!-- スライドさせる画像の設定 -->
				    <div class="carousel-inner">
				        <% count = 1 %>
				        <% @events.each do |e| %>
				        <%#= link_to event_path(e.id) do%>
				            <% if count == 1 %>
				                <div class="carousel-item active">
				                    <% if e.event_top_image.attached? %>
				                        <%= image_tag e.event_top_image , class: "card-img-top"%>
				                    <% end %>
				                    <div class="carousel-caption d-none d-md-block">
				                        <h4 id="slide_title">
				                            <% if e.tag.uuid == 1 %>
	                                        	<%= e.event_time.month %> 月 シャショク
	                                		<% elsif e.tag.uuid == 2 %>
	                                        	<%= e.event_time.month %> 月　ガクショク
	                                		<% elsif e.tag.uuid == 3 %>
	                                        	<%= e.event_time.month %> 月 キャリアコネクション
	                                		<% else%>
	                                    		<%= e.event_time.month %> 月 
	                                		<% end %>
	                                	</h4>
				                      <p id="slide_comment">
				                      	<%= e.event_company_name %>
				                      </p>
				                    </div><!-- /.carousel-caption -->
				                </div><!-- /.carousel-item -->
				            <% else %>
				                <div class="carousel-item">
				                    <% if e.event_top_image.attached? %>
				                        <%= image_tag e.event_top_image ,class: "card-img-top"%>
				                    <% end %>
				                    <div class="carousel-caption d-none d-md-block">
				                        <h4 id="slide_title">
				                            <% if e.tag.uuid == 1 %>
	                                        	<%= e.event_time.month %> 月 シャショク
	                                		<% elsif e.tag.uuid == 2 %>
	                                        	<%= e.event_time.month %> 月　ガクショク
	                                		<% elsif e.tag.uuid == 3 %>
	                                        	<%= e.event_time.month %> 月 キャリアコネクション
	                                		<% else%>
	                                    		<%= e.event_time.month %> 月 
	                                		<% end %>
	                                	</h4>
				                      <p id="slide_comment">
				                      	<%= e.event_company_name %>
				                      </p>
				                    </div><!-- /.carousel-caption -->
				                </div><!-- /.carousel-item -->
				            <% end %>
				        <% count = count + 1 %>
				        <% end %>
				        <%# end %>
				    </div><!-- /.carousel-inner -->
				    <!-- スライドコントロールの設定 -->

				    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				    </a>
				    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				    </a>
				</div><!-- /.carousel -->
				<div class="container-fluid">
					<div class="top_titles">
						<h5 id="top_titles_font">ツナグコト認定優良企業
						<%= image_tag'f.png',class: "twiiter" %></h5>

						<div class="row top-title-inner">
							<h1>comming Soon</h1>
						</div>
					</div>

					<div class="top_titles">
						<h5 id="top_titles_font">Nattoおすすめイベント(New)</h5>

						<div class="row top-title-inner">
							<% @show_mini_events.each do |me| %>
								<%= link_to mini_event_path(me.id) do %>
								<div class="col-lg-4">
									<div class="card" style="height: 450px;">
								        <% if me.mini_event_img.attached? %>
								            <%= image_tag me.mini_event_img ,class: "card-img-top" ,style: "max-height: 200px;" %>
								        <% end %>
									  	<div class="card-body">
									  		<b style="text-decoration: underline; color: #66CC66;">申し込み受付中</b>
										    <h4 class="card-title"><%= me.title %></h4>
										    <p class="card-text" style= "height: 120px;">
										    	<%= me.detail.truncate(50) %>
										    </p>
										    <a href="#" class="btn btn-outline-secondary">このイベントに参加する</a>
									  	</div>
									</div>
								</div>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
				<!-- <div>イベント一覧を見る</div>
				<h1>comming Soon</h1> -->
			</div>
			<div class="col-lg-3">
				<%= render 'home/top_menus' %>
			</div>
		</div>
	</div>
</div>