<div class="devise_pc">
<div class="container-fluid">
	<div class="top_container">
		<div class="row">

			<div class="col-lg-9 padding-top">
				<h5 id="top_titles_font">ツナグコトおすすめイベント</h5>
				<div id="carouselExampleIndicators" class="carousel slide carousel-slide" data-ride="carousel">
				  <!-- インジケータの設定 -->
				    <ol class="carousel-indicators">
				        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="height: 20px;"></li>
				        <% for num in 1..@e_count do %>
				            <li data-target="#carouselExampleIndicators" data-slide-to="#{num}" style="height: 20px;"></li>
				        <% end %>
				    </ol>
				    <!-- スライドさせる画像の設定 -->
				    <div class="carousel-inner">
				        <% count = 1 %>
				        <% @events.each do |e| %>
					            <% if count == 1 %>
					                <div class="carousel-item active">
										<%= link_to event_path(e.id) do %>
					                    	<% if e.event_top_image.attached? %>
					                        	<%= image_tag e.event_top_image , class: "card-img-top"%>
					                    	<% end %>
					                   	<% end %>
					                </div><!-- /.carousel-item -->
					            <% else %>
					                <div class="carousel-item">
					                	<%= link_to event_path(e.id) do%>
						                    <% if e.event_top_image.attached? %>
						                        <%= image_tag e.event_top_image ,class: "card-img-top"%>
						                    <% end %>
					                    <% end %>
					                </div><!-- /.carousel-item -->
					            <% end %>
					        <% count = count + 1 %>
				        <% end %>
				    </div><!-- /.carousel-inner -->

				    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				    </a>
				    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				    </a>
				</div><!-- /.carousel -->

				<div class="container-fluid">

					<!-- <div class="top_titles">
						<h5 id="top_titles_font">愛知学生ブランド企業
						<%#= image_tag'f.png',class: "twiiter" %>
						</h5>	
						<h style="font-size: 1.0em;">
							協賛企業等へのメール、電話などによる営業行為は固く禁じます。
						</h>					
						<div class="row top-title-inner">
							<h1 style="text-align: center;">coming Soon</h1>
						</div>
					</div> -->

					<div class="top_titles">
						<h5 id="top_titles_font">Nattoおすすめイベント(New)</h5>
						<div class="row top-title-inner">
							<% @show_mini_events.each do |me| %>
								<%= link_to mini_event_path(me.id) do %>			
								<div style="margin: 2px;">					
								<div class="card-deck">
									<div class="card" style="width: 18rem; min-height:24rem ;">
										<div>
								        <% if me.mini_event_img.attached? %>
								            <%= image_tag me.mini_event_img ,class: "card-img" %>
								        <% end %>
								    	</div>

									  	<div class="card-body">
									  		<b style="text-decoration: underline; color: #66CC66;">		申し込み受付中
									  		</b>
										    <h4 class="card-title">
										    	<%= "【"+"#{me.time.month}"+"/"+"#{me.time.day}"+"】"%><%= me.title %>
										    </h4>
										    <p class="card-text">
										    	<%= me.detail.truncate(30) %>
										    </p>

										    <h class="btn btn-outline-secondary card_event_btn">
										    	このイベントに参加する
											</h>
									  	</div>
									</div>
									</div>
								</div>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>

			</div>
			<div class="col-lg-3">
				<h1 id="student_count" style="margin-top: 50px;"> 
    				現在登録者 <%= @s_count %>
    			</h1>
				<%= render 'home/top_menus' %>
			</div>
		</div>
	</div>
</div>
</div>

<%= render 'home/top_mobile' %>