<h1 style="text-align: center; font-weight: 700;"> 
    現在登録者　<%= @s_count %> 
</h1>

<div class="paddind-buttom"></div>
<%= image_tag'natto_header_thin.jpg', class: "img-full-responsive" %>
<div class="container-fluid">

    <div class="paddind-buttom"></div>
    <div class="event">Event</div>
    <div class="event_explanation">開催予定のイベントはこちら</div>
    <hr>

    <div class="event_parent" style="margin-left: 50px; margin-right: 50px;">
        <div class="event_box"></div>
        <div class="row">
        <% @events.each do |e| %>
            <%= link_to event_path(e.id) do %>
            <div class="col-md-12 col-lg-6">
                <div class="event_content_box">       
                    <div class="card"> 
                        <% if e.event_top_image.attached? %>
                            <%= image_tag e.event_top_image.variant(resize:'300x500').processed ,class: "card-img-top"%>
                        <% end %>
                        <div class="card-body">
                            <h5 class="card-title">
                                <% if e.tag.uuid == 1 %>
                                    <div class="home_top_sha tag_padding">
                                        <%= e.event_time.month %> 月 シャショク
                                    </div>
                                <% elsif e.tag.uuid == 2 %>
                                    <div class="home_top_ga tag_padding">
                                        <%= e.event_time.month %> 月　ガクショク
                                    </div>
                                <% elsif e.tag.uuid == 3 %>
                                    <div class="home_top_cari tag_padding">
                                        <%= e.event_time.month %> 月 キャリアコネクション
                                    </div>
                                <% else%>
                                    <%= e.event_time.month %> 月 
                                <% end %>
                            </h5>
                            <h6 class="card-subtitle text-muted" style="text-align: center; font-size: 2.0em;"><%= e.event_time.strftime("%Y年%m月%d日") %>開催
                            </h6>
                            <p class="card-text">
                            </p>
                            <a href="#" class="card-link"><!-- Card link --></a>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        <% end %>
        </div>
    </div><!-- /.row event_parent-->


    <div class="paddind-buttom"></div>
    <div class="quest">Quest</div>
    <div class="quest_explanation">企業からの依頼にチャレンジしよう</div>
    <hr>
    <div class="row quest_parent" style="margin-left: 50px; margin-right: 50px;">
        <div class="quest_box"></div>
        <% @quests.each do |q| %>
            <div class="col-sm-6 col-md-6" style="text-align: center; margin-top: 15px; margin-bottom: 15px;">
                <%= link_to quest_path(q.id) do %>
                    <div style="margin: 10px 20px;">
                        <div class="row content_box">
                            <div class="quest_top_right_left">
                                <div style="margin-right: 5px; margin-left: 5px;">
                                <p><%= q.company_name %></p>
                                <p>【依頼】</p>
                                <p><%= q.title %></p>
                                </div>
                            </div>
                            <% if q.company_logo.attached? %>
                                <%= image_tag q.company_logo, class: "quest_top_img" %>
                            <% else %>
                                <div class="quest_top_right_left">画像がありません</div>
                            <% end %>
                        </div><!-- ./content_box -->
                    </div>
                <% end %>
            </div><!-- ./col-sm-6 col-md-6 -->
        <% end %>
    </div><!-- ./row quest_parent -->


    <div class="paddind-buttom"></div>
    <div class="question">Question</div>
    <div class="question_explanation">新着の質問はこちら</div>
    <hr>    
    <div class="row">
    <% @questions.each do |q| %>
        <div class="col-sx-12 col-lg-4 center">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">
                    <% if q.student_id != nil %>
                        <%= q.student.first_name %>さんの質問です
                    <% elsif q.corporation_id != nil %>  
                        <%= q.corporation.name %>さんの質問です
                    <% end %> 
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <%= q.title %>
                </h6>
                <p class="card-text">
                    <%= q.q_body %>
                </p>
                <%= link_to "答える", new_question_comment_path(question_id: q.id), class: "card-link" %>
              </div>
            </div>
        </div>
    <% end %>
    
    <div class="paddind-buttom"></div>
    <%= link_to "質問箱へ", questions_path ,class: "btn btn-primary btn-lg btn-block" %>
    </div>
    <!-- <div class="company_list">List of supperting company</div> -->
</div>