<% if admin_signed_in?  %>
<%= form_for @event do |f| %>
	<div class="container-fluid">
		<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-7">
			<h3 style="text-align: center;"> イベント発行</h3>
			<div>
			<hr>
			   	<%= f.collection_radio_buttons(:tag, Tag.all, :id, :tag_name, include_hidden: false) do |b| %>
					<% if b.object.uuid == 1 %>
						<span class="event_type_tag_frame_mini non_linked right e_sha"><%= b.label { b.radio_button + b.text } %></span>
					<% elsif b.object.uuid == 2 %>
						<span class="event_type_tag_frame_mini non_linked right e_ga"><%= b.label { b.radio_button + b.text } %></span>
					<% elsif b.object.uuid == 3 %>
						<span class="event_type_tag_frame_mini non_linked right e_kya"><%= b.label { b.radio_button + b.text } %></span>
					<% elsif b.object.uuid == 4 %>
						<span class="event_type_tag_frame_mini non_linked right e_other"><%= b.label { b.radio_button + b.text } %></span>
					<% end %>
			    <% end %>
				<hr>
			</div>

			<div>●Topバナーに表示しない</div>
			<label><%= f.radio_button :un_open, true %> はい </label>
			<label><%= f.radio_button :un_open, false %> いいえ</label><br>
			<div>●タイトル</div>
			<%= f.text_field :event_name, placeholder: "", :size => "120%" %>
			<div>●サブタイトル</div>
			<%= f.text_field :event_title, placeholder: "顧客にも働く人にも選ばれ続ける会社となる", :size => "80%" %>
			<p>今回のイベントについて(500文字以内)</p>
			<%= f.text_area :event_description,placeholder: "" , :size => "100%"  %><br>
			●登壇者の顔写真
			<%= f.file_field :president_image, accept: "image/png, image/jpeg, image/gif" %>
			<br>
			●企業・団体名・大学名
			<%= f.text_field :event_company_name, placeholder: "株式会社浜西電気/南山大学"  %>
			<br>
			●役職
			<%= f.text_field :position, placeholder: "代表取締役/学生" %>
			<br>
			●氏名
			<%= f.text_field :event_president, placeholder: "匹田　治樹様"  %>
			<br>
			●生年月日
			<%= f.text_field :event_president_birth_day ,placeholder: "1997年10月26日" %>
			<br>
			●座右の銘
			<%= f.text_field :event_motto, placeholder: "石橋を叩いて渡る"  %>
			<br>
			●イベント会場
			<%= f.text_field :event_place_title, placeholder: "", :size => "120%" %>
			<br>
			●イベント開催地
			<%= f.text_field :event_location, placeholder: "名古屋市東区葵3丁目15-31　千種第2ビル4F",  :size => "80%" %>
			<br>
			●参加費
			<br>
			●社会人参加応募先URL(Google Formで社会人参加用の応募フォームを事前に作ってください)<br>
			<%= f.text_field :other_participant_url, :size => "30*90",placeholder: "https://www.google.com/intl/ja_jp/forms/about/" %><br>
			●会員企業応募先URL(Google Formで会員企業用の応募フォームを事前に作ってください)<br>
			<%= f.text_field :url_form_to_com, :size => "30*90",placeholder: "https://www.google.com/intl/ja_jp/forms/about/" %>
			<br>
			●取得ポイント
			<%= f.number_field :get_point, min: 0 , max: 20000, step: 100, value: 5000 %><br>
			<br>
			●社会人参加費
			<%= f.number_field :pay_point_by_adult, min: 0 , max: 20000, step: 100, value: 5000 %>
			●消費ポイント
			<%= f.number_field :pay_point, min: 0 , max: 20000, step: 100, value: 5000 %>
			<br>
			●開催時間
		  	<%= f.date_select(
		        :event_time, 
		        use_month_numbers: true,
		        start_year: Time.now.year,
		        end_year: (Time.now.year + 2),
		        default: Time.now,
		        date_separator: '/') %>
			<br>
			●開催時間詳細
			<%= f.text_field :event_time_detail, placeholder: "17:30 ~ 20:30" , :size => "30*60" %>
			<br>
			●応募人数
			<%= f.number_field :event_population ,min: 0 ,max:1000, value: 20 %>
			<hr>
			<div>●Top掲載画像</div>
			<%= f.file_field :event_top_image, accept: "image/png, image/jpeg, image/gif" %>

			<div>●詳細ページ掲載画像(チラシ)</div>
				<%= f.file_field :event_show_image, accept: "image/png, image/jpeg, image/gif" %>
			<hr>
			<div>●備考</div>
				<%= f.text_area :free_box  %>
			<div>
				<h4>●サブタグ(複数選択可)</h4>
			    <%= f.collection_check_boxes(:sub_tag_ids, SubTag.all, :id, :sub_tag_name, include_hidden: false) do |b| %>
			      <%= b.label { b.check_box + b.text } %>
			    <% end %>
			</div>
			<div>
				<h4>●イベント検索用タグ(複数選択可)</h4>
			    <%= f.collection_check_boxes(:style_ids, Style.all, :id, :name, include_hidden: false) do |b| %>
			      <%= b.label { b.check_box + b.text } %>
			    <% end %>
			</div>
		<%=f.submit '編集を完了する', class: 'btn btn-primary btn-lg btn-block' %>
		</div>
	</div>
	</div>
	<%end%>
</div>
<% else %>
	<%= link_to "ホームに戻る", root_path %>
	<div class="page_not_found"> 404 page not found</div>
<% end %>