<% if student_signed_in? %>
	<%= form_for @mini_event_customer, url: mini_event_mini_event_customers_path(mini_event_id: params[:mini_event_id]) do |f| %>
		<div class="container">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<p>参加するイベントを選択してください</p>
			<div class="cp_ipselect cp_sl01">
				<%= f.collection_select :mini_event_id, MiniEvent.all, :id, :title, class: 'form-control'  %>
			</div>
			<p>所属を選択してください</p>
			<div class="cp_ipselect cp_sl01">
				<%= f.collection_select :school_id, School.all, :id, :school_name , class: 'form-control' %>
			</div>
			<div>
				<h3>現在のポイント: <%= current_student.point.having_point %>pt</h3>
				<h3>
			</div>
			<div>
				<input type="radio" name="pay_way" value="cash">現金
				<input type="radio" name="pay_way" value="point">ポイント
			</div>
			
			<div class="event_customer_form">名前(フルネーム)<%= f.text_field :name,value: "#{current_student.first_name}#{current_student.last_name}"  %></div>

			<div class="event_customer_form">メールアドレス:<%= f.text_field :email ,value: "#{current_student.email}"  %></div>

			<div class="event_customer_form">電話番号:<%= f.text_field :phone_num, placeholder: "例) 080123456789", :size => "30*60" %></div>

			<%=f.submit '次 へ', class: 'btn btn-primary btn-lg btn-block' %>
			</div>
			<%#= render "mini_event_customers/new_mini_event" %>
		</div>
		</div>
	<% end %>
<% else %>
	<%= form_for @mini_event_customer do |f| %>
		<div class="container">
		<div class="col-md-2"></div>
		<div class="col-md-8">

			<p>参加するイベントを選択してください</p>
			<div class="cp_ipselect cp_sl01">
				<%= f.collection_select :mini_event_id, MiniEvent.all, :id, :title, class: 'form-control'  %>
			</div>


			<p>所属を選択してください</p>
			<div class="cp_ipselect cp_sl01">
				<%= f.collection_select :school_id, School.all, :id, :school_name , class: 'form-control' %>
			</div>
	 
			<div class="event_customer_form">名前(フルネーム)<%= f.text_field :name  %></div>

			<div class="event_customer_form">メールアドレス:<%= f.text_field :email   %></div>

			<div class="event_customer_form">電話番号:<%= f.text_field :phone_num, placeholder: "例) 080123456789", :size => "30*60" %></div>

			<%=f.submit '次 へ', class: 'btn btn-primary btn-lg btn-block' %>
			</div>

		</div>
		</div>
	<% end %>
<% end %>
