<div class="container fluid">
    <p class="company_top" >登録企業</p>
    <p class="company_top" style="display: inline;">詳細</p> 

<p><%= link_to "←登録企業一覧に戻る", company_page_index_path, class: "company_all_back" %></p>

<div class="company_details_box">
		<div class="row company_detail_padding">
			<div class="col-sm-12 col-md-12 company_detail_fonts">
				<p class="company_labels_title">企業名</p>
				<p class="company_detail_fonts"><%= @company.company_name %></p>
                <p class="company_labels_title">本社所在地</p>
				<p class="company_detail_fonts"><%= @company.company_locate %></p>
                <p class="company_labels_title">設立年度</p>
				<p class="company_detail_fonts"><%= @company.company_start_year %></p>
                <p class="company_labels_title">従業員数</p>
				<p class="company_detail_fonts"><%= @company.number_of_employee %></p>
                <p class="company_labels_title">事業内容</p>
				<p class="company_detail_fonts"><%= @company.what_company_do %></p>
                <p class="company_labels_title">当社の魅力</p>
				<p class="company_detail_fonts"><%= @company.attractive_point %></p>
                <p class="company_labels_title">企業ホームページ</p>
				<p class="company_detail_fonts"><%=link_to "#{@company.company_url}",@company.company_url, target: :_blank %></p>
			</div><!-- ./col-sm-12 col-md-12 event_detail_fonts -->
		</div><!-- ./row event_detail_padding -->
	</div><!-- ./event_details_box -->
</div><!-- ./container fluid -->
