<!-- ヘッダー部分 -->
<!-- navbar-light bg-lightで色を指定 -->

<% if admin_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= render 'layouts/header_admin' %>
    </nav>
<% elsif student_signed_in? %>
    <div class="devise_pc">
        <div class="header">
            <div class="inner-header">
                <span class="right-padding">
                    <a href="/">
                      <%= image_tag'natto-logo-long.png',class: "natto" %>
                    </a>
                </span>
                <span class="header-right">
                    <div class="guest">ようこそ
                        <%= current_student.first_name %>さん
                    </div>
                    <div class="guest">
                        <%= link_to "▶︎ マイページ", student_page_path(current_student.id) %>
                    </div>
                    <div class="guest margin-right-fifty-2 ">
                        <%#= link_to "▶︎ ログアウト", destroy_student_session_path , method: :delete %>
                      <div style="display:inline-flex">
                        <%= button_to("ログアウト", destroy_student_session_path ,method: :delete, class: "button_to_tolink_to") %>
                      </div>
                    </div>
                    <div class="guest">
                        <%= link_to "ツナグコトHP", 'http://tunagu.or.jp/', class: "tunagu-header" %></div>
                </span>
            </div>
        </div>
    </div>
    <div class="devise_mobile">
         <!-- これはケータイ用 -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">
            <%= image_tag'natto.png',class: "natto-mobile" %>
          </a>
          <!-- <h2>ようこそ<%#= current_student.first_name %>さん</h2> -->

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-font" id="navbarText">
            <ul class="navbar-nav mr-auto">
             <li class="nav-item active margin-ten">
                <%= link_to "マイページ", student_page_path(current_student.id) %>
              </li>
             <li class="nav-item active margin-ten">
                <%= link_to "Nattoで交流する", home_interact_event_path %>
              </li>
              <li class="nav-item active margin-ten">
                <%= link_to "Nattoで学ぶ", home_studey_event_path %>
              </li>
             <li class="nav-item active margin-ten">
                <%= link_to "Nattoで仕事を探す", quests_other_new_quest_path %>
              </li>
              <li class="nav-item active margin-ten">
                <%= link_to "ツナグコトHP", 'http://tunagu.or.jp/' %>
              </li>
             <li class="nav-item active margin-ten">
                <a class="nav-link" href="#">その他機能</a>
              </li>
              <li class="nav-item active">
                <%#= link_to "ログアウト", destroy_student_session_path , method: :delete %>
                <%= button_to("ログアウト", destroy_student_session_path ,method: :delete) %>
              </li>
            </ul>
          </div>
        </nav>
    </div>
<% elsif student_group_signed_in? %>
  <%= render 'layouts/header_student_group' %>
<% elsif  non_profit_organization_signed_in? %>
  <%= render 'layouts/header_non_profit_organization' %>
<% else %>
    <div class="devise_pc">
        <div class="header">
            <div class="inner-header">
                <span class="right-padding">
                    <a href="/">
                        <%= image_tag'natto-logo-long.png',class: "natto" %>
                    </a>
                </span>
                <span class="header-right">
                  <a href="https://twitter.com/tunagukoto_">
                    <%= image_tag'twitter.png',class: "twiiter" %>
                  </a>
                  <a href="https://www.instagram.com/tunagukoto_/">
                    <%= image_tag'instagram.png',class: "twiiter" %>
                  </a>	
                    <div class="guest margin-right-fifty">
                    <div class="guest">
                        <%= link_to "▶︎ ログイン・学生登録", new_student_session_path, class: "tunagu-header" %>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="devise_mobile">
         <!-- これはケータイ用 -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">
            <%= image_tag'natto.png',class: "natto-mobile" %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-font" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active margin-ten">
                <%= link_to "ログイン・新規登録",new_student_registration_path  %>
              </li>
             <li class="nav-item active margin-ten">
                <%= link_to "Nattoで交流する", home_interact_event_path %>
              </li>
              <li class="nav-item active margin-ten">
                <%= link_to "Nattoで学ぶ", home_studey_event_path %>
              </li>
             <li class="nav-item active margin-ten">
                <%= link_to "Nattoで仕事を探す", quests_path %>
              </li>
              <li class="nav-item active margin-ten">
                <%= link_to "ツナグコトHP", 'http://tunagu.or.jp/' %>
              </li>

            </ul>
          </div>
        </nav>
    </div>
<% end %>
