<a href="https://www.facebook.com/tunagukoto/">
    <%= image_tag'facebook.png',class: "sns" %>
  </a>
  <a href="https://line.me/ti/g2/QC3viCfONv8wIO64_WruzA">
    <%= image_tag'line.png',class: "sns" %>
  </a>
  <a href="https://twitter.com/tunagukoto_">
    <%= image_tag'twitter.png',class: "sns width_big" %>
  </a>
  <a href="https://www.instagram.com/tunagukoto_/">
    <%= image_tag'instagram.png',class: "sns width_big" %>
  </a>	
  <nav class="footer_nav">
    <ul>
   		<li><%= link_to "プライバシーポリシー", home_policy_path %></li>
   		<li><%= link_to "個人情報保護方針", home_privacy_path %></li>
      	<li><%= link_to "Top", root_path %></li>
      	<li><%= link_to "Home", 'http://tunagu.or.jp/' %></li>
    </ul>
  </nav>
  <div class="tunagukoto">©️ 2020 ツナグコト</div>