<!DOCTYPE html>
<html>
  <head>
    <title>TunaguNatto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%#= render 'layouts/notifications' %>
    <% if admin_signed_in? || student_signed_in? || corporation_signed_in? %>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    <% else %>
      <%= render 'layouts/user_login' %>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
