<div class="container">
  <div class="row">
  <div class="col-sm-4 col-md-2""></div>
  <div class="col-sm-4 col-md-8">
  <h2>プロフィールを編集する <% resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :お名前 %><br />
    <%= f.text_field :first_name, autofocus: true %>
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :専攻または学部 %><br />
    <%= f.text_field :major_subject, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :入学年度 %><br />
    <%= f.number_field :entrance_year ,min: 2010 ,max: 2021, step:1 %>年
  </div>
  <p style="font-size: 1.5em;">トプ画像</p>
    <%= f.file_field :my_image, accept: "image/png, image/jpeg, image/gif" %>

  <div>
    <p style="font-size: 1.5em;">所属を選択してください</p>
      <%= f.collection_select :school_id, School.where.not(school_name: "社会人"), :id, :school_name , class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :出身県 %><br />
    <%= f.text_field :home_town, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :所属の部活またはサークル %><br />
    <%= f.text_field :club, autofocus: true %>
  </div>  

  <div class="field">
    <%= f.label :出身県 %><br />
    <%= f.text_field :home_town, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :アルバイトやインターンの経験 %><br />
    <%= f.text_area :experienced_jobs, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :趣味や特技%><br />
    <%= f.text_area :hobbies, autofocus: true, rows: "5",  cols:"80" %>
  </div>

  <div class="field">
    <%= f.label :自分の長所や短所 %><br />
    <%= f.text_area :introduction, autofocus: true,rows: "5",  cols:"80"  %>
  </div>

  <div class="field">
    <%= f.label :自由記入欄 %><br />
    <%= f.text_area :free_space , autofocus: true,rows: "5",  cols:"80"  %>
  </div>

  <div class="field">
    <%= f.label :SNSのリンク %><br />
    <%= f.text_field :sns_url , autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "編集する",class:'btn btn-success btn-lg' %>
  </div>

   <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


<% end %>

<p> <%#= button_to "編集をやめる", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete %></p>

<%= link_to "戻る", :back, class:'btn btn-primary btn-lg' %>
</div>
</div>
<div class="col-sm-4 col-md-2"></div>