<% if admin_signed_in? %>
  <p>あなたは今、管理者としてログインしています<br>
    一度ログアウトした後に新規登録のページに戻ってください
  </p>
  <%= link_to "サインアウトする", destroy_admin_session_path, method: :delete %>
<% else %>
  <div class="container">
    <div class="some_padding"></div>
    <div class="student__my_page">学生登録(無料)</div>
          <div class="regi_info_2">
            学生登録をすると、Nattoの会員としてイベントへの参加だけでなくイベントの企画やインターンシップ、企業からの依頼へのエントリーなど様々な機能が使えるようになります。
          </div>
    <%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= form_for(@student, url: student_registration_path, method: :post) do |f| %>  
    
      <%= render "devise/shared/error_messages", resource: resource %>
      <p style="text-align: center; font-weight: 700; color: grey; font-size: 1.5em;">
        登録がすでにお済みの方は
        <%= link_to "こちらへ",new_student_session_path %>
      </p>
      <hr>





      <div class="field">
        <p style="font-size: 1.5em;">パスワード(上記と同じパスワード)</p>
        <%= f.password_field :password_confirmation, autocomplete: "confirm-password" %>
      </div>
      <p style="font-size: 1.5em;">プロフィール画像</p>
        <%= f.file_field :my_image, accept: "image/png, image/jpeg, image/gif" %>




      <div>
        <p style="font-size: 1.5em;">所属を選択してください</p>
          <%= f.collection_select :school_id, School.where.not(school_name: "社会人"), :id, :school_name , class: 'form-control' %>
      </div>
      
      <div class="actions">
        <%= f.submit "新規登録",class:'btn btn-primary btn-lg', style: "margin: 5px;" %>
      </div>
    <%= render "students/shared/links" %>
    <% end %>
  </div>
<% end %>